<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>AI連歌</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="title">連歌システム</div>
    </div>
    <div class="overview">
      ここはAIと連歌を楽しむための場所です。<br>
      AIと3句続けることを目指して頂きます。<br>
      AIと共創する事で新しい創造の形を模索していきましょう。
    </div>
    {% block body %}{% endblock %}
  </div>      
</body>
</html>